.name{
	font-family: 'Lexend Giga', sans-serif;
	background-color: #eb331e;
	color: black;
}
.about{

}
h1{
	color:  #eb331e;
}
.footer{
	background-color: #00325c;
	height: 35px;
	width: 1340px;
}
h3{
	color: white;
}